@-webkit-keyframes loaderSpinner {
  0% {  -webkit-transform: scale(0.9); opacity:0.1; }
  50%   {  -webkit-transform: scale(1); opacity:1; }
  100%   {  -webkit-transform: scale(0.9); opacity:0.1; }
}

@-moz-keyframes loaderSpinner {
  0% { -moz-transform: rotateY(0deg)  scale(0.5);opacity:0;    }
  50%   { -webkit-transform: rotateY(-180deg)  scale(1);opacity:1; }
  100%   { -moz-transform: rotateY(-360deg) scale(0.5);opacity:0; }
}

#loadingAppImg {
  -webkit-animation-name: loaderSpinner;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-animation-name: loaderSpinner;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 1s;
  -moz-transform-style: preserve-3d;
}