/nbproject/
/manager-mobile/.settings/
/manager-senchatouch-old/.sencha/
/manager-senchatouch-old/.settings/
/manager-senchatouch-old/resources/sass/.sass-cache/
/console/extjs-dev/.sencha/
/console/extjs-dev/resources/sass/default/.sass-cache/
/console/extjs-dev/build/SxapiManager/production/resources/sass/default/.sass-cache/
/console/extjs-dev/build/SxapiManager/testing/resources/sass/default/.sass-cache/
/console/extjs/resources/sass/default/.sass-cache/
/console/extjs2/resources/sass/default/.sass-cache/